.container {
	max-width: 600px; 
    margin: 50px auto; 
    /*background: white; */ 
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень */
    padding: 20px; /* Внутренние отступы */
}

.btn {
	display: inline-block; /* Отображение как блочный элемент */
    background-color: rgb(0, 128, 255); /* Зеленый цвет фона */
    color: white; /* Цвет текста */
    border: none; /* Без рамки */
    border-radius: 5px; /* Закругленные углы */
    padding: 10px 15px; /* Внутренние отступы */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Указатель для курсора */
    transition: background-color 0.3s; /* Плавный переход цвета */
}

.btn:hover {
	background-color: rgb(0, 96, 191);
}

.text-field {
	height: 100px ;
    display: block; /* Отображение как блочный элемент */
    padding: 10px; /* Внутренние отступы */
    border: 1px solid #ddd; /* Рамка */
    border-radius: 4px; /* Закругленные углы */
    font-size: 14px; /* Размер шрифта */
    color: #333; /* Цвет текста */
    white-space: pre-wrap; /* Для переноса длинных строк */
    overflow-y: auto;   /* Включить вертикальную прокрутку */
    resize: none; 
}

.private-key {
	height: 150px ;
}

p {
	color: grey;
	margin-top: 15px;
	margin-bottom: 0px;
}